<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="../estilos/estilos.css">
</head>
<body>


    <div id="container"> <!-- area total do site -->
        <div id="topo"> <!-- area de cima do site -->
            <div id="area-logo">
                <h1><a href="">Chalé Hotel</a></h1>
            </div>

            
            <div id="area-menu">
                <div class="detalhe-topo">

                    <hr>
                    <p>Rio de Janeiro - São Paulo - Belo Horizonte </p>
                    <Button id="botao-topo">RESERVAR</Button>
                    <hr>
                </div>
                <div id="lista-topo">
                    <ul>
                        <li><a href="">HOME</a></li>
                        <li><a href="">HISTORIA</a></li>
                        <li><a href="">IMPRENSA</a></li>
                        <li><a href="">GASTRONOMIA</a></li>
                        <li><a href="">CONTATO</a></li>
                    </ul>

                    <img src="../imagens/depoimento.png" id="depoimento">
                </div>
            </div>
        </div>
    </div>

        <div id="container-baixo">

            <div id="area-principal">
                <div class="conteudo">
                    <h3> Lorem ipsum, dolor sit amet consectetur</h3>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure molestias fuga natus architecto incidunt inventore provident dolores deleniti itaque. Minus, cum dignissimos saepe dolorem accusamus ratione. Ea sequi quo similique! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quidem enim nobis ratione veritatis cumque expedita? Veniam consequuntur delectus perferendis modi deleniti magni expedita sapiente iure dolorem, aliquam dolor aperiam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum illum vitae veritatis praesentium, aliquid in minus deserunt aspernatur recusandae dolor impedit a distinctio commodi accusamus porro optio autem, dolores cum.</p>
                </div>
            </div>


            <div id="area-lateral">
                <ul>
                    <li>
                        <a href="">
                            <img src="../imagens/restaurante.jpg" alt="Restaurante" style="width: 150px; margin-left: 20px;">
                            <h3>Restaurante</h3>
                            <p>Loreet consectetu. Sapiente atque nulla reiciendis quod pariatur debitis deserunt magni. Eveniet, dolores fugit provident adipisci dolor unde, magnam impedit pariatur maxime ex voluptas!</p>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="">
                            <img src="../imagens/restaurante.jpg" alt="Restaurante" style="width: 150px; margin-left: 20px;">
                            <h3>Restaurante</h3>
                            <p>Lorem ipelit. Sapiente atque nulla reiciendis quod pariatur debitis deserunt magni. Eveniet, dolores fugit provident adipisci dolor unde, magnam impedit pariatur maxime ex voluptas!</p>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="">
                            <img src="../imagens/restaurante.jpg" alt="Restaurante" style="width: 150px; margin-left: 20px;">
                            <h3>Restaurante</h3>
                            <p>Lorisicing elit. Sapiente atque nulla reiciendis quod pariatur debitis deserunt magni. Eveniet, dolores fugit provident adipisci dolor unde, magnam impedit pariatur maxime ex voluptas!</p>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="rodape">Rodapé</div>

        </div>
        



    


</body>
</html>